* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #0d1524;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #cdd6f6;
    transition: 0.3s;
}

.nav ul li a:hover {
    color: #4d78ff;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background-image: url(./assets/background-hero.gif);
    backdrop-filter: blur(10px) saturate(120%);
    

}

.tag {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #1f3dff;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-bottom: 25px;
    position: relative;
}

.tag::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(circle,
            rgba(0, 162, 255, 0.6) 0%,
            rgba(0, 162, 255, 0.15) 40%,
            rgba(0, 162, 255, 0) 70%);
    filter: blur(0px);
    z-index: -1;
}


.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: "Sora", sans-serif;
}

.title span {
    color: #4258ff;
}

.subtitle {
    max-width: 720px;
    margin: 0 auto 40px;
    color: #ffffff;
    font-size: 0.95rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid #4a5eff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn.primary {
    background: #4a5eff;
    color: #fff;
}

.btn.primary:hover {
    opacity: 0.8;
}

.btn.secondary {
    background: transparent;
    color: #cdd6ff;
}

.btn.secondary:hover {
    background: #4a5eff20;
    border-color: #6c7cff;
}

.about {
    padding: 80px 20px;
    color: #d9e1ff;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.about-text {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.about-text p {
    margin-bottom: 25px;
}

.highlight-blue {
    color: #38a5ff;
    font-weight: 500;
}

.highlight-purple {
    color: #a26dff;
    font-weight: 500;
}

.about-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card:hover {
    transform: translateY(-5px);
    border-color: #4262ff;
}

.card .icon {
    font-size: 1.7rem;
    margin-bottom: 10px;
    opacity: 0.85;
}



@media (max-width: 576px) {
    .about-container {
        flex-direction: column;
    }

    .about-cards {
        width: 100%;
    }
}

.projects {
    padding: 30px 20px;
}

.section-title {
    font-size: 2.2rem;
    color: #cdd6ff;
    margin-bottom: 30px;
    text-align: center;
}

.project-card {
    background: #07142f;
    border: 1px solid #113264;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 25px;
    transition: 0.3s ease;
}

.project-card:hover {
    border-color: #4160ff;
    transform: translateY(-5px);
}

.project-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-icon {
    font-size: 1.8rem;
}

.project-description {
    margin: 15px 0;
    color: #b9c5e9;
    line-height: 1.5rem;
}

.project-features {
    margin: 10px 0 15px;
    padding-left: 18px;
}

.project-features li {
    margin-bottom: 6px;
    color: #9fb4e9;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-tags span {
    background: rgba(55, 85, 255, 0.12);
    border: 1px solid #3356ff;
    padding: 4px 10px;
    font-size: 0.8rem;
    border-radius: 6px;
    color: #82a1ff;
    transition: 0.3s;
}

.project-tags span:hover {
    background: #3356ff;
    color: #fff;
}

.skills-section {
    text-align: center;
    padding: 40px 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.skills-section h2 {
    font-size: 2.4rem;
    margin-bottom: 70px;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: #07142f;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #113264;
    box-shadow: 0px 0px 12px rgba(10, 100, 255, 0.12);
    transition: .3s ease;

}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
}

.icon {
    font-size: 32px;
    margin-bottom: 15px;

}

.card h3 {
    margin-bottom: 6px;
    color: #fff;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.95rem;
    line-height: 1.4rem;
    opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}

.footer {
    background: #0d1524;
    padding: 24px 0;
    color: #dce3f0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-brand {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.code-icon {
    color: #25a7ff;
    margin-right: 8px;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.social-icon {
    color: #aebace;
    width: 24px;
    height: 24px;
    transition: 0.3s;
}

.social-icon svg {
    width: 100%;
    height: 100%;
}

.social-icon:hover {
    color: #25a7ff;
}

.footer-copy {
    font-size: 0.9rem;
    opacity: 0.8;
}